html {
    background-color: #A9D1F8;
	font-family: 'Roboto Mono', monospace;
}


.p_skills, .d_skills, .projects {
	font-size: 28px;
	text-align: center;
}

ul {
	display: table;
	margin: 0 auto;
	font-size: 18px;
}