html {
	background-color: #A9D1F8;
    font-family: 'Roboto Mono', monospace;
}

h1, .resume {
    text-align: center;
}


h2, h3 {
	text-align: center;
	font-size: 20;
}



ul {
	display: table;
	margin: 0 auto;
}

.work-1A, .work-1A-dates, .work-1, .work-1-dates, .work-2, .work-2-dates, .work-3, .work-3-dates, .work-4, work-2A, work-2A-items{
	text-align: center;
}

